@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: outfit;
    /* background-color: rgba(0, 0, 0, 0.7); */

}

/* ////////////////////////////////////////////container///////////////////////// */



.container{
    /* #171821; */
    /*  background-color: rgba(23, 24, 33, 0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 3em 2em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
    top: 6em;
    border-radius: 1em;
    
}
.container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.credit {
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
    display: flex;
    justify-content: center;


}
.credit p a{
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
text-decoration: none;
color: #fff;
    

}

.input-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
    
   
}
input{
    padding: 1em 0.5em;
    background-color: #3a3939;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    outline: none;

}
button{
    outline: none;
    border: none;
    background-color: #e01a38;
    color: #ffffff;
    border-radius: 0.5em;

}
.display-container{
 padding: 1em;
 background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */

 /* background-color: chartreuse; */
}

.container-character-image{
    /* background-color: #ffffff;
    
    */
     /* background-color: rgba(255, 255, 255, 0); */
     background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */


    padding: 0.5em;
    height: 9.37em;
    width: 9.37em;
    display: block;
    margin: auto;
    /* border-radius: 50%; */

}
.card-container{
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
}

.container-character-image img{
    width: 100%;
    position: relative;
    width: block;
    border-radius: 50%;
        background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */

    
    
}
.character-name{
    padding: 0.5em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */


}
.character-description{
    text-align: justify;
    color: #ffffff;
    line-height: 2em;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */



}
.list{
    position: absolute;
    color: #fff;
    width: 64%;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
    z-index: 1;
    height:200px;
    overflow-y: scroll;
}
.list::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}


.autocomplete-items{
    padding: 0.5em;
    
}
.autocomplete-items:hover{
    /* background-color: #ddd; */
    color: #ff0000;
}

p{
     background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */


}
/* //////////////////////////////////////////video background/////////////////////////// */
.back-video{
    /* position: absolute; */
    display: flex;

    right: 0;
    bottom: 0;
    top: 10%;
    z-index: -1;
    width: 100%;
    background-size: cover;
    height: 100vh;



}


.back-phone-video{
    display: none;
}


/* --------------video responsive------------------- */

@media only screen and (max-width:600px) {

    .back-video{
        display: none;
    }
    .back-phone-video{
        
        position: absolute;
        display: flex;
    
        right: 0;
        bottom: 0;
        top: 10%;
        z-index: -1;
        width: 100%;
    }
}
@media only screen and (max-width:700px) {

    .back-video{
        display: none;
    }
    .back-phone-video{
        
        /* position: absolute; */
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        right: 0;
        bottom: 0;
        top: 10%;
        z-index: -1;
        width: 100%;
        margin-top: -50px;

        

    }
}
@media only screen and (max-width:400px) {

    .back-video{
        display: none;
    }
    .back-phone-video{
        
        /* position: absolute; */
        /* display: flex;
        align-items: baseline;
        justify-content: baseline; */
        right: 0;
        bottom: 0;
        /* top: 10%; */
        
        /* z-index: -1; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* display: none; */
        margin-top: -50px;
        /* margin-bottom: -500px; */
    }
}
@media only screen and (max-width: 500px) {
    .back-video {
        display: none;
    }
    .back-phone-video {
        /* position: absolute; */
        /* display: flex;
        right: 0;
        bottom: 0; */
        /* top: 10%; */
        /* z-index: -1; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: fixed;
        
    }
    
}



/* --------------container responsive----------------- */

@media only screen and (max-width:400px) {



.container{

    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em 1em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
    top: 2em;
    border-radius: 1em;
    
}
.input-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 10px;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
   padding-right:90px; 
   
}
input{
    padding: 8px 2px;
    background-color: #3a3939;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    outline: none;

}

button{
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.5em;
    width: 40px;
    height: 30px;
    font-size: 12px;
    

}

.display-container{
 padding: 0;
 background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */

}

.container-character-image{
   
     background-color: rgba(163, 75, 75, 0); /* Set the background color with transparency */
/* background-color: #e01a38; */

    padding: 5px;
    height: 9.37em;
    width: 9.37em;
    display: block;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-character-image img{
    width: 70%;
    position: relative;
    width: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
    
}
.character-name{
    padding: 0.5em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */


}
.character-description{
    text-align: justify;
    color: #ffffff;
    line-height: 2em;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0); /* Set the background color with transparency */
    font-size: 11px;



}

}